{
	"extends": "@humanmade",
	"ignorePatterns": ["build/*.js"],
	"overrides": [
		{
		  "files": [ "**/*.ts", "**/*.tsx" ],
		  "rules": {
			"jsdoc/require-returns": [ 0 ],
			"jsdoc/require-param": [ 0 ]
		  }
		}
	  ]
  }
